<?xml version="1.0" encoding="utf-8"?>
<!--
    The config is dynamically altered during the build to include sources such as locally built packages.
    We keep it deliberately empty so that a global/default one (referencing nuget.org) is not used by accident.
-->
<configuration>
  <packageSources>
    <clear />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>