<?xml version="1.0" encoding="utf-8"?>
<!--
    This empty NuGet.config at the root of the repo ensures that a global/default one
    (referencing nuget.org) is not used by accident.
    The individual repo NuGet.config files are utilized during the build.
-->
<configuration>
  <packageSources>
    <clear />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>