-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail dotnetdevexcli@microsoft.com
-TsaCodebaseAdmin REDMOND\marcpop
-TsaBugAreaPath "DevDiv\NET Tools\SDK"
-TsaIterationPath DevDiv
-TsaRepositoryName dotnet-installer
-TsaCodebaseName dotnet-installer
-TsaPublish $True
